<% provide(:title, "Edit user") %>
<div class="center jumbotron" style="box-shadow: 8px 8px 10px #F0F; border: 5px solid #000; background-color: rgba(255,192,203,0.8)">
  <h1>Update your profile</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with(model: @baby, local: true) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :date_price %>
        <%= f.text_field :date_price, class: 'form-control', placeholder: '$' %>

        <%= f.label :text_price %>
        <%= f.text_field :text_price, class: 'form-control', placeholder: '$' %>
        <p class="note_txt">
          Please Send Email with: <br/>Text Price ~ $0.00 | Date Price ~ $0.00<br/> in order to generate your PayPal Button!<br/>
          Please Use the Exact Price You Are Using Above!
        </p>

        <table border="3px" style="margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px; box-shadow: 5px 5px 8px #9400D3">
          <tr>
            <td>
              <p>Basic Subscription</p>
            </td>
            <td>
              <p>Pro Subscription</p>
            </td>
            <td>
              <p>Combo Subscription</p>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "Basic Subscribe Terms", subscribe_path %>
            </td>
            <td>
              <%= link_to "Pro Subscribe Terms", subscribe_path %>
            </td>
            <td>
              <%= link_to "Combo Subscribe Terms", subscribe_path %>
            </td>
          </tr>
          <tr>
            <td>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="VR5UDVB9VLZP6">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </td>
            <td>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="E4WYAS2THE338">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </td>
            <td>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="84BAGWQ8TPHK8">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </td>
          </tr>
        </table>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>

      <div class="gravatar_edit">
        <%= gravatar_for @baby %>
        <a href="https://gravatar.com/emails" class="grvt_txt" target="_blank">Change Your Gravatar Here!</a>
      </div>
    </div>
  </div>
</div>
