<% provide(:title, 'Sign up') %>
<div class="center jumbotron" style="box-shadow: 8px 8px 10px #F0F; border: 5px solid #000; background-color: rgba(255,192,203,0.8)">
  <h1 style="font-family: 'Dancing Script', cursive; color: #FFF;">MyDaddy Signup</h1>
  <h2 style="font-family: 'Sansita Swashed', cursive; text-align: center; font-size: 25px; color: #000">
    <br/>
    <%= form_with(model: @baby, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>


      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </h2>
</div>
