<% provide(:title, @baby.name) %>
<div class="center jumbotron" style="box-shadow: 8px 8px 10px #F0F; border: 5px solid #000; background-color: rgba(255,192,203,0.8)">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @baby %>
          <p style="font-family: 'Sansita Swashed', cursive; font-size: 25px"><%= @baby.name %></p>
          <p style="font-family: 'Sansita Swashed', cursive; font-size: 20px"><%= @baby.sex %></p><br/>
          <% if baby.role.baby? %>
          <table border="3px">
            <tr>
              <td>
                <p style="font-family: 'Piazzolla', serif; font-size: 20px;"><b>Date Me:$</b><u><i><%= @baby.date_price %></i></u><b>&nbsp; Per Hour</b></p>
              </td>
              <td>
                <p style="font-family: 'Piazzolla', serif; font-size: 20px;"><b>Text Me: $</b><u><i><%= @baby.text_price %></i></u><b>&nbsp; Per Hour</b></p>
              </td>
            </tr>
            <tr>
              <td>
                <%= render 'babies/paypal_functions/discover_user_date' %>
              </td>
              <td>
                <%= render 'babies/paypal_functions/discover_user_text' %>
              </td>
            </tr>
          </table>
          <% end %>
        </h1>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @baby.microposts.any? %>
        <h3>Microposts (<%= @baby.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>

  </div>
</div>
